{% extends 'base/public_base.html' %}
{% block title %}MCCPG 2020 | Dashboard{% endblock %}
{% block content %}
            <!-- Content Row/ Breadcrumb -->
            <div class="my-5" id="b-homedb">
               <div class="container">
                  <h4 class="text-center mb-3 b-latest-data">Latest Data</h4>
                  <div class="pl-4 text-end" style="font-size: 24px">
                     <span class="mr-2" id="one-item-row" style="cursor: pointer;">
                     <i class="fas fa-bars"></i>
                     </span>
                     <span class="mr-2" id="two-item-row" style="cursor: pointer;">
                     <i class="fas fa-th-large"></i>
                     </span>
                     <span class="mr-2" id="three-item-row" style="cursor: pointer;">
                     <i class="fas fa-th"></i>
                     </span>
                  </div>
                  <div class="">
                     <div class="row text-center pl-4" id="sortable-cards">
                        <div class="col-lg-6 col-sm-12 p-3 b-customize">
                           <div class="bg-light p-4 b-dbcard">
                              <i class="fas fa-user-graduate position-absolute" style="font-size:35px; right: 40px; top: 40px;"></i> 
                              <div class="">
                                 <p class="text-start fw-bold" style="font-size: 14px;">Cyber Attacks</p>
                                 <h3 class="text-start fw-bold" style="margin-top: -5px">1,1870</h3>
                                 <div class="text-start" style="margin: 10px 0px 5px;">
                                    <span class="badge bg-success">+4%</span> 
                                    <span style="font-size:13px;"> From previous period</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 p-3 b-customize">
                           <div class="bg-light p-4 b-dbcard">
                              <i class="fas fa-university position-absolute" style="font-size:35px; right: 40px; top: 40px;"></i> 
                              <div class="">
                                 <p class="text-start fw-bold" style="font-size: 14px;">Deemed University</p>
                                 <h3 class="text-start fw-bold" style="margin-top: -5px">612</h3>
                                 <div class="text-start" style="margin: 10px 0px 5px;">
                                    <span class="badge bg-success">2%</span> 
                                    <span style="font-size:13px;"> From previous period</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 p-3 b-customize">
                           <div class="bg-light p-4 b-dbcard">
                              <i class="fas fa-users position-absolute" style="font-size:35px; right: 40px; top: 40px;"></i> 
                              <div class="">
                                 <p class="text-start fw-bold" style="font-size: 14px;">Candidates Registered</p>
                                 <h3 class="text-start fw-bold" style="margin-top: -5px">152,679</h3>
                                 <div class="text-start" style="margin: 10px 0px 5px;">
                                    <span class="badge bg-success">12%</span> 
                                    <span style="font-size:13px;"> From previous period</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 p-3 b-customize">
                           <div class="bg-light p-4 b-dbcard">
                              <i class="fas fa-question-circle position-absolute" style="font-size:35px; right: 40px; top: 40px;"></i> 
                              <div class="">
                                 <p class="text-start fw-bold" style="font-size: 14px;">No. of Queries Received</p>
                                 <h3 class="text-start fw-bold" style="margin-top: -5px">39,891</h3>
                                 <div class="text-start" style="margin: 10px 0px 5px;">
                                    <span class="badge bg-success">+28%</span> 
                                    <span style="font-size:13px;"> From previous period</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row my-5 mx-sm-5">
               <div class="col-md-6">
                  <h4 class="text-center">No. of Students Registered</h4>
                  <canvas id="basicLineChart2" width="400" height="400"></canvas>
               </div>
               <div class="col-md-6">
                  <h4 class="text-center">Final Result (in percent)</h4>
                  <canvas id="doughnutChart2" width="400" height="400"></canvas>
               </div>
            </div>
         </div>
         <!-- /#page-content-wrapper -->
      </div>
      {% endblock %}
